body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}



.cart-icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.cart-icon:hover {
    transform: scale(1.1);
}

.policy-section {
    padding: 80px 20px 20px;
    background-color: #fff;
    max-width: 80%px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 100px;
}

.policy-section h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.policy-section p {
    font-size: 1.1em;
    margin-bottom: 15px;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content h3 {
    margin: 0;
    font-size: 24px;
}

.footer-content p {
    margin: 5px 0;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
}

.footer-bottom a {
    color: white;
    text-decoration: none;
}

.footer-bottom .trademark {
    font-size: 10px;
    vertical-align: super;
}
