body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #444;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 120px;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;

}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

ul {
    font-size: 18px;
    line-height: 1.6;
    margin-left: 20px;
    margin-bottom: 20px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 22px;
    }

    p, ul {
        font-size: 16px;
    }
}
